.filter-board {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  margin-bottom: 5rem;
}

input {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.inputs {
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.labels {
  font-weight: bold;
  color: #6f7888;
}

.clearFilters {
  font-weight: bold;
  color: #0099ff;
}

.checkboxes {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  color: #0099ff;
  border: 2px !important;
  border-color: #0099ff !important;
  position: relative;
  left: -5px;
  top: -5px;
}

#other {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #0099ff;
  border-radius: 5px;
  color: black;
}

.filterButton {
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #6f7888;
  transition: 1s;
}

.filterButton:hover {
  background-color: #0099ff;
  transition: 1s;
}
